################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/webstudy/bin/webstudy.pdb
/webstudy/bin/webstudy.dll.config
/webstudy/bin/webstudy.dll
/.vs
/webstudy/obj/Debug
/webstudy/webstudy.csproj.user
/webstudy/Web.Release.config
/webstudy/Web.Debug.config
